<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>660344238495-llrsf2i1u9oim0diend1s7ap7u3247s6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.660344238495-llrsf2i1u9oim0diend1s7ap7u3247s6</string>
	<key>API_KEY</key>
	<string>AIzaSyBauR8mi0ldITCY7EPa-_GUIAPyfiTzxAc</string>
	<key>GCM_SENDER_ID</key>
	<string>660344238495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyvent</string>
	<key>PROJECT_ID</key>
	<string>fyvent-27d5a</string>
	<key>STORAGE_BUCKET</key>
	<string>fyvent-27d5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:660344238495:ios:e3df88f2144025f8</string>
	<key>DATABASE_URL</key>
	<string>https://fyvent-27d5a.firebaseio.com</string>
</dict>
</plist>